{% extends 'user_templates/base.html' %}
{% block title %}
{% endblock %}
{% block stylesheet %}
{% endblock %}
{% load static %}
{% block siteinfo %}
{% endblock %}
{% block header %}
{% endblock %}
	<body class="tr-homepage">

{% block content %}
	<div class="container">
			<div class="card">
				<div class="card-header" >
					<div class="row align-items-center">
						<div class="col-8">
							<h3 class="mb-0">Popular Blog</h3>
						</div>
					</div>
				</div>

				<div class="card-body">
					<div class="pl-lg-6">
						<div class="row">
						<div class="col-md-4">
							<div class="featured-cols">
								<div class="featured-bg-gradient">&nbsp;</div>
								<span class="blog-format-gallery">Gallery</span>
								<img src="{% static 'user_static/images/various-project-360x466.jpg' %}" alt="various-project">
								<div class="featured-desc">
									<span class="btn btn-success" style="margin-left:19px;"><a href="#" style="color:#fff;">Character Design</a></span>
									<h4><a href="blog-details.html">Various project of late 2017</a></h4>
									<label>
										<span>admin&nbsp;‐</span>Feb 14, 2017
									</label>
								</div>
							</div>
						</div>
							<div class="col-md-4">
							<div class="featured-cols">
								<div class="featured-bg-gradient">&nbsp;</div>
								<span class="blog-format-gallery">Gallery</span>
								<img src="{% static 'user_static/images/various-project-360x466.jpg' %}" alt="various-project">
								<div class="featured-desc">
									<span class="btn btn-success" style="margin-left:19px;"><a href="#" style="color:#fff;">Character Design</a></span>
									<h4><a href="blog-details.html">Various project of late 2017</a></h4>
									<label>
										<span>admin&nbsp;‐</span>Feb 14, 2017
									</label>
								</div>
							</div>
						</div>
							<div class="col-md-4">
							<div class="featured-cols">
								<div class="featured-bg-gradient">&nbsp;</div>
								<span class="blog-format-gallery">Gallery</span>
								<img src="{% static 'user_static/images/various-project-360x466.jpg' %}" alt="various-project">
								<div class="featured-desc">
									<span class="btn btn-success" style="margin-left:19px;"><a href="#" style="color:#fff;">Character Design</a></span>
									<h4><a href="blog-details.html">Various project of late 2017</a></h4>
									<label>
										<span>admin&nbsp;‐</span>Feb 14, 2017
									</label>
								</div>
							</div>
						</div>
					</div><!-- /.row -->
				</div>
			</div>
			</div>
			<div class="tr-ad" style="margin-top:10px;">
				<a href="#"><img src="{% static 'user_static/images/content-banner.png' %}" alt="Content Banner Advertisements" class="img-fluid"></a>
			</div>
			<div class="tr-content">
				<div class="row">
					<div class="col-md-8 col-lg-9 tr-sticky">
						<div class="theiaStickySidebar">
							<div class="blog-list masonry clearfix">
								<div class="row">
									<div class="col-md-6 col-lg-4">
										<div class="masonry-item clearfix">
											<div class="blog-mask">
												<a href="blog-details.html" class="blog-format-image-hover">
													<i class="fa fa-external-link fa-3x"></i>
												</a>
												<div class="blog-image">
													<a href="#"><img src="{% static 'user_static/images/super-natural-263x238.jpg' %}" alt="Image" class="img-fluid"></a>
												</div>
											</div>
											<div class="blog-list-desc">
												<span class="btn btn-success">
													<a href="#" style="color:#fff;">Graphic Design</a>
												</span>
												<h4><a href="blog-details.html">Super, Natural British</a></h4>
												<label>
													<span>admin&nbsp;‐</span> Feb 22, 2017
												</label>
												<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
											</div>
										</div>
									</div>
									<div class="col-md-6 col-lg-4">
										<div class="masonry-item clearfix">
											<div class="blog-mask">
												<a href="blog-details.html" class="blog-format-image-hover">
													<i class="fa fa-external-link fa-3x"></i>
												</a>
												<div class="blog-image">
													<a href="#"><img src="{% static 'user_static/images/super-natural-263x238.jpg' %}" alt="Image" class="img-fluid"></a>
												</div>
											</div>
											<div class="blog-list-desc">
												<span class="btn btn-success">
													<a href="#" style="color:#fff;">Graphic Design</a>
												</span>
												<h4><a href="blog-details.html">Super, Natural British</a></h4>
												<label>
													<span>admin&nbsp;‐</span> Feb 22, 2017
												</label>
												<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
											</div>
										</div>
									</div>
									<div class="col-md-6 col-lg-4">
										<div class="masonry-item clearfix">
											<div class="blog-mask">
												<a href="blog-details.html" class="blog-format-image-hover">
													<i class="fa fa-external-link fa-3x"></i>
												</a>
												<div class="blog-image">
													<a href="#"><img src="{% static 'user_static/images/super-natural-263x238.jpg' %}" alt="Image" class="img-fluid"></a>
												</div>
											</div>
											<div class="blog-list-desc">
												<span class="btn btn-success">
													<a href="#" style="color:#fff;">Graphic Design</a>
												</span>
												<h4><a href="blog-details.html">Super, Natural British</a></h4>
												<label>
													<span>admin&nbsp;‐</span> Feb 22, 2017
												</label>
												<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
											</div>
										</div>
									</div>
									<div class="col-md-6 col-lg-4">
										<div class="masonry-item clearfix">
											<div class="blog-mask">
												<a href="blog-details.html" class="blog-format-image-hover">
													<i class="fa fa-external-link fa-3x"></i>
												</a>
												<div class="blog-image">
													<a href="#"><img src="{% static 'user_static/images/super-natural-263x238.jpg' %}" alt="Image" class="img-fluid"></a>
												</div>
											</div>
											<div class="blog-list-desc">
												<span class="btn btn-success">
													<a href="#" style="color:#fff;">Graphic Design</a>
												</span>
												<h4><a href="blog-details.html">Super, Natural British</a></h4>
												<label>
													<span>admin&nbsp;‐</span> Feb 22, 2017
												</label>
												<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
											</div>
										</div>
									</div>
									<div class="col-md-6 col-lg-4">
										<div class="masonry-item clearfix">
											<div class="blog-mask">
												<a href="blog-details.html" class="blog-format-image-hover">
													<i class="fa fa-external-link fa-3x"></i>
												</a>
												<div class="blog-image">
													<a href="#"><img src="{% static 'user_static/images/super-natural-263x238.jpg' %}" alt="Image" class="img-fluid"></a>
												</div>
											</div>
											<div class="blog-list-desc">
												<span class="btn btn-success">
													<a href="#" style="color:#fff;">Graphic Design</a>
												</span>
												<h4><a href="blog-details.html">Super, Natural British</a></h4>
												<label>
													<span>admin&nbsp;‐</span> Feb 22, 2017
												</label>
												<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
											</div>
										</div>
									</div>
									<div class="col-md-6 col-lg-4">
										<div class="masonry-item clearfix">
											<div class="blog-mask">
												<a href="blog-details.html" class="blog-format-image-hover">
													<i class="fa fa-external-link fa-3x"></i>
												</a>
												<div class="blog-image">
													<a href="#"><img src="{% static 'user_static/images/super-natural-263x238.jpg' %}" alt="Image" class="img-fluid"></a>
												</div>
											</div>
											<div class="blog-list-desc">
												<span class="btn btn-success">
													<a href="#" style="color:#fff;">Graphic Design</a>
												</span>
												<h4><a href="blog-details.html">Super, Natural British</a></h4>
												<label>
													<span>admin&nbsp;‐</span> Feb 22, 2017
												</label>
												<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
											</div>
										</div>
									</div>

								</div>
							</div>



							<!-- Pagination -->
							<div class="pagination clearfix">
								<ul class="page-numbers">
									<li><span class="page-numbers current">1</span></li>
									<li><a class="page-numbers" href="#">2</a></li>
									<li><a class="next page-numbers" href="#"></a></li>
								</ul>
							</div><!-- /.pagination -->
						</div><!-- /.theiaStickySidebar -->
					</div>

					<div class="col-md-4 col-lg-3 tr-sticky">
						<div class="sidebar theiaStickySidebar">
							<div class="widget desilog_widget-popular-posts">
								<h5>Popular Posts</h5>
								<ul>
									<li>
										<div class="clearfix">
											<div class="pp-image">
												<a href="blog-details.html"><img src="{% static 'user_static/images/new-illustrations-late-2015-43x39.jpg' %}" alt="Image" class="img-fluid"></a>
											</div>
											<div class="pp-desc">
												<span class="pp-categories"><a href="#">Typography</a></span>
												<span class="pp-date">Feb 14, 2017</span>
											</div>
										</div>
										<h4><a href="blog-details.html">New Illustrations – late 2017</a></h4>
									</li>
									<li>
										<div class="clearfix">
											<div class="pp-image">
												<a href="blog-details.html"><img src="{% static 'user_static/images/theater-hannover-43x39.jpg' %}" alt="theater-hannover" class="img-fluid"></a>
											</div>
											<div class="pp-desc">
												<span class="pp-categories"><a href="#">Character Design</a> <a href="#">Drawing</a></span>
												<span class="pp-date">Feb 12, 2017</span>
											</div>
										</div>
										<h4><a href="blog-details.html">Freies Theater Hannover</a></h4>
									</li>
									<li>
										<div class="clearfix">
										<div class="pp-image">
											<a href="blog-details.html"><img src="{% static 'user_static/images/skills-radar-43x39.jpg' %}" alt="Image" class="img-fluid"></a>
										</div>
										<div class="pp-desc">
											<span class="pp-categories"><a href="#">Graphic Design</a></span>
											<span class="pp-date">Feb 18, 2017</span>
										</div>
										</div>
										<h4><a href="blog-details.html">Tutorial: Skills Radar Chart</a></h4>
									</li>
									<li>
										<div class="clearfix">
											<div class="pp-image">
												<a href="blog-details.html"><img src="{% static 'user_static/images/color-relationships-43x39.jpg' %}" alt="Image" class="img-fluid"></a>
											</div>
											<div class="pp-desc">
												<span class="pp-categories"><a href="#">Illustration</a></span>
												<span class="pp-date">Feb 25, 2017</span>
											</div>
										</div>
										<h4><a href="blog-details.html">Color Relationships</a></h4>
									</li>
								</ul>
							</div>


							<div class="widget widget_categories">
								<h5>Categories</h5>
								<ul>
									<li><a href="#">Branding<span> 1</span></a></li>
									<li><a href="#">Character Design<span> 2</span></a></li>
									<li><a href="#">Drawing<span> 2</span></a></li>
									<li><a href="#">Editorial Design<span> 1</span></a></li>
									<li><a href="#">Graphic Design<span> 3</span></a></li>
									<li><a href="#">Illustration<span> 1</span></a></li>
									<li><a href="#/">Typography<span> 1</span></a></li>
								</ul>
							</div>

						</div><!-- /.sidebar -->
					</div>
				</div><!-- /.row -->

			</div><!-- /.tr-content -->
		</div>
	<div class="footer" style="height:100px; background:color:red;">
	</div>
{% endblock %}
		<!-- JS -->

{% include 'user_templates/footer.html' %}