{% include 'sadmin_templates/header.html' %}
{% load static %}
<div class="main-content" id="panel" style="margin-top:10px;">
 {% if messages %}
    <div class="messages" style="margin-right:32px;">
    {% for message in messages %}
        <div class="alert alert-primary" {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
    {% endfor %}
    </div>
{% endif %}
</div>


<div class="row container-fluid">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">

                <H1>Article :<strong>{{ article_obj.title }}</strong>  </H1>
                <form method="POST">
                    {% csrf_token %}
                    <table class="table table-bordered">
                        <tbody>
                        <tr>
                            <th>Article Author</th>
                            <td><input type="text" disabled class="form-control" value="{{article_obj.article_author}}"/></td>
                        </tr>
                        <tr>
                            <th>Title</th>
                            <td><input type="text" class="form-control" value="{{ article_obj.title }}" name="title"/></td>
                        </tr>
                        <tr>
                            <th>Body</th>
                            <td>
                                <textarea class="form-control" name="body">{{ article_obj.body }}</textarea>
                            </td>
                        </tr>

                        <tr>
                            <th>Secound Title</th>
                            <td><input class="form-control" type="text" name="second_body_title" value="{{ article_obj.second_body_title }}"/>
                            </td>
                        </tr>

                        <tr>
                            <th>Body</th>
                            <td>
                                <textarea class="form-control" name="second_body">{{ article_obj.second_body }}</textarea>
                            </td>
                        </tr>
                        <tr>
                            <th>Category</th>
                            <td><input type="text" class="form-control" name="category" value="{{ article_obj.category }}"/></td>
                        </tr>

                         <tr>
                            <th>Image</th>

                            <td>

                                <input type="file" name="article_pic" class="form-control" value="{{ article_obj.article_pic.url }}"/>
                            </td>
                        </tr>

                        </tbody>

                    </table>
                    <button class="btn btn-primary float-right" type="submit">Update</button>
                </form>
            </div>
        </div>

    </div>
</div>


{% include 'sadmin_templates/footer.html' %}