{% include 'sadmin_templates/header.html' %}
{% load static %}

<div class="row container-fluid">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">

                <H1>Article :<strong>{{ article_obj.title }}</strong>  </H1>
                    <table class="table table-bordered">
                        <tbody>
                        <tr>
                            <th>Article Author</th>
                            <td><input type="text" class="form-control" value="{{article_obj.article_author}}"/></td>
                        </tr>
                        <tr>
                            <th>Title</th>
                            <td><input type="text" class="form-control" value="{{ article_obj.title }}" /></td>
                        </tr>
                        <tr>
                            <th>Body</th>
                            <td>
                                <textarea rows="10" class="form-control">{{ article_obj.body }}</textarea>
                            </td>
                        </tr>

                        <tr>
                            <th>Secound Title</th>
                            <td><input class="form-control" type="text" value="{{ article_obj.second_body_title }}"/>
                            </td>
                        </tr>

                        <tr>
                            <th>Body</th>
                            <td>
                                <textarea rows="10" class="form-control">{{ article_obj.second_body }}</textarea>
                            </td>
                        </tr>
                        <tr>
                            <th>Category</th>
                            <td><input type="text" class="form-control" value="{{ article_obj.category }}"/></td>
                        </tr>

                         <tr>
                            <th>Image</th>
                            <td><input type="text" class="form-control" value="{{ article_obj.article_pic.url }}"/></td>
                        </tr>

                        </tbody>

                    </table>
            </div>
        </div>

    </div>
</div>


{% include 'sadmin_templates/footer.html' %}