{% include 'sadmin_templates/header.html' %}
{% load static %}
<div class="main-content" id="panel" style="margin-top:10px;">
 {% if messages %}
    <div class="messages" style="margin:20px;">
        {% for message in messages %}
            <div class="alert alert-primary" {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
        {% endfor %}
    </div>
{% endif %}

<div class="row container-fluid">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <br/>
                <H3 style="padding-left: 20px;">Editing Account : {{singleUser.username}} </H3>
                {% if userupdateresponse %}
                <div class="alert alert-primary" role="alert" style="margin: 20px 0px 20px 0px;">
                    <H3 style="color: white;">{{userupdateresponse}}</H3>
                </div>
                {% endif %}
                <form method="post">
                    {% csrf_token %}
                    <table class="table table-bordered">
                        <tbody>
                        <tr>
                            <th>First Name</th>
                            <td><input type="text" class="form-control" value="{{s_user.first_name}}"
                                       name="fname"/></td>
                        </tr>
                        <tr>
                            <th>Last Name</th>
                            <td><input type="text" class="form-control" value="{{s_user.last_name}}"
                                       name="lname"/></td>
                        </tr>

                        <tr>
                            <th>User Name</th>
                            <td><input class="form-control" type="text" value="{{s_user.username}}"
                                       name="username"/>
                            </td>
                        </tr>

                        <tr>
                            <th>Email</th>
                            <td><input type="text" class="form-control" value="{{s_user.email}}"
                                       name="email"/></td>
                        </tr>
                        <tr>
                            <th>Phone</th>
                            <td><input type="text" class="form-control" value="{{s_user.phone}}"
                                       name="phone"/></td>
                        </tr>
                        <tr>
                            <th>Country</th>
                            <td><input type="text" class="form-control" value="{{s_user.country}}"
                                       name="country"/></td>
                        </tr><tr>
                            <th>Email</th>
                            <td><input type="text" class="form-control" value="{{s_user.division}}"
                                       name="division"/></td>
                        </tr>
                        <tr>
                            <th>Email</th>
                            <td><input type="text" class="form-control" value="{{s_user.present_address}}"
                                       name="present_address"/></td>
                        </tr>
                        <tr>
                            <th>Email</th>
                            <td><input type="text" class="form-control" value="{{s_user.permanent_address}}"
                                       name="permanent_address"/></td>
                        </tr>
                        <tr>
                            <th>Account Status</th>
                            <td> Current Status: {% if s_user.status == 0 %}
                                <span class="badge badge-pill badge-danger">InActive</span>
                                {% else %}
                                <span class="badge badge-pill badge-success">Active</span>
                                {% endif %}
                                <br/> <br/>

                                <select name="status" class="form-control">
                                    <option value="{{singleUser.status}}">


                                        {% if s_user.status == 0 %} InActive
                                        {% else %} Active
                                        {% endif %}


                                    </option>
                                    <option value="0">Inactive</option>
                                    <option value="1">Active</option>
                                </select>

                            </td>
                        </tr>

                        <tr>
                            <th>Change Password</th>
                            <td><input class="form-control" type="text" value="{{s_user.password}}"
                                       name="password"/></td>
                        </tr>
                        <tr>
                            <th>Designation</th>
                            <td><input class="form-control" type="text" value="{{s_user.designation}}"
                                       name="designation"/></td>
                        </tr>


                        </tbody>


                    </table>


                    <button class="btn btn-primary pull-right" style="margin: 0px 0px 10px 10px">Save Update

                    </button>
                </form>

            </div>
        </div>

    </div>
</div>


{% include 'sadmin_templates/footer.html' %}